.navbar {
    padding: 0;
    .navbar-brand {
        margin: 0;
    }
    .dropdown {
        .dropdown-menu {
            width: 100%;
            padding: 0;

            li {
                a {
                    font-size: 14px;
                }
            }
        }
    }
}
