<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <img src="assets/img/uday-logo.png" alt="Uday" width="70">
        </div>
        <div class="d-flex">
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="pi pi-user"></i> demo@gmail.com
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#!"><i class="pi pi-lock"></i> Logout</a></li>                    
                </ul>
            </div>
        </div>
    </div>
</nav>